.App {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav.navbar a:link {
  text-decoration: none;
  margin-left: 1200px;
  color: darkgreen;
}

.navButton {
  color: darkgreen;
  
}

a {
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */
