.displayArea {
  width: 100%;
  height: 75vh;
  position: relative;
  background-color: #fcf9d2;
}

.displayArea img {
  /* max-height: 100%; */
  overflow: hidden;
  position: absolute;
  margin: auto;
  max-height: 24%;
  max-width: 50%;
}
